@model IEnumerable<MyBlog.Core.DTOs.ShowGroupsViewModel>
    <div class="widget widget-categories">
        <h3 class="widgettitle">دسته بندی</h3>
        <ul class="list-categories">
            @foreach (var item in Model)
            {
              
                   
            <li>
                <span>@item.PageCount</span>
                <a href="/Group/@item.GroupID/@item.GroupTitle" class="LCommerce-menu-item-title" title="اجناس جدید">@item.GroupTitle </a>
            </li>
             
            }

        </ul>
    </div>