@model IEnumerable<MyBlog.Core.DTOs.ShowTopPageViewModel>
    <div class="widget widget-post">
        <h3 class="widgettitle">مقالات محبوب</h3>
        <ul class="LCommerce-posts">
            @foreach (var item in Model)
            {
                <li class="widget-post-item">
                    <div class="thumb-blog">
                        <img src="/PageImages/@item.Imagename" alt="img">
                    </div>
                    <div class="post-content">
                        <div class="cat">
                            <a href="#">@item.Grouptitle</a>
                        </div>
                        <h5 class="post-title"><a href="#">@item.PageTitle <span>[...]</span></a></h5>
                    </div>
                </li>
            }

            </ul>
    </div>