
@{
    ViewData["Title"] = "Err404";
}

<!DOCTYPE html>
<html lang="fa">
<head>
    <title>لکامرس - خطای 404</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.html" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/AdminContent/css/bootstrap.min.css">
    <link rel="stylesheet" href="/AdminContent/css/font-awesome.min.css">
    <link rel="stylesheet" href="/AdminContent/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/AdminContent/css/animate.min.css">
    <link rel="stylesheet" href="/AdminContent/css/jquery-ui.css">
    <link rel="stylesheet" href="/AdminContent/css/slick.css">
    <link rel="stylesheet" href="/AdminContent/css/chosen.min.css">
    <link rel="stylesheet" href="/AdminContent/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/AdminContent/css/magnific-popup.min.css">
    <link rel="stylesheet" href="/AdminContent/css/lightbox.min.css">
    <link rel="stylesheet" href="/AdminContent/js/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="/AdminContent/css/jquery.scrollbar.min.css">
    <link rel="stylesheet" href="/AdminContent/css/mobile-menu.css">
    <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="/AdminContent/css/style.css">
    <link rel="stylesheet" href="/AdminContent/css/rtl.css">
</head>
<body class="inblog-page">
 
   
    <div class="main-content main-content-404 right-sidebar">
        <div class="container">
            <div class="row">
                <div class="content-area content-404 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="site-main">
                        <section class="error-404 not-found">
                            <div class="images">
                                <img src="/AdminContent/images/404.jpg" alt="img">
                            </div>
                            <div class="text-404">
                                <h1 class="page-title">
                                    خطای 404 یافت نشد
                                </h1>
                                <p class="page-content">
                                    متأسفیم اما صفحه ای که به دنبال آن هستید وجود ندارد. <br />
                                    می توانید برگردید به
                                    <a href="index-2.html" class="hightlight"> صفحه نخست</a>
                                    یا با استفاده از
                                    <span class="hightlight toggle-hightlight">
                                        جستجو!

                                    </span>
                                    <br />صفحه موردنظر را پیدا کنید.
                                </p>
                                <form action="/Search"  role="search" method="get" class="search-form">
                                    <input type="search" class="search-field" name="q" placeholder="جستجو...">
                                    <button>جستجو</button>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <a href="#" class="backtotop">
        <i class="pe-7s-angle-up"></i>
    </a>
    <script src="/AdminContent/js/jquery-1.12.4.min.js"></script>
    <script src="/AdminContent/js/jquery.plugin-countdown.min.js"></script>
    <script src="/AdminContent/js/jquery-countdown.min.js"></script>
    <script src="/AdminContent/js/bootstrap.min.js"></script>
    <script src="/AdminContent/js/owl.carousel.min.js"></script>
    <script src="/AdminContent/js/magnific-popup.min.js"></script>
    <script src="/AdminContent/js/isotope.min.js"></script>
    <script src="/AdminContent/js/jquery.scrollbar.min.js"></script>
    <script src="/AdminContent/js/jquery-ui.min.js"></script>
    <script src="/AdminContent/js/mobile-menu.js"></script>
    <script src="/AdminContent/js/chosen.min.js"></script>
    <script src="/AdminContent/js/slick.js"></script>
    <script src="/AdminContent/js/jquery.elevateZoom.min.js"></script>
    <script src="/AdminContent/js/jquery.actual.min.js"></script>
    <script src="/AdminContent/js/fancybox/source/jquery.fancybox.js"></script>
    <script src="/AdminContent/js/lightbox.min.js"></script>
    <script src="/AdminContent/js/owl.thumbs.min.js"></script>
    <script src="/AdminContent/js/jquery.scrollbar.min.js"></script>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM'></script>
    <script src="/AdminContent/js/frontend-plugin.js"></script>
</body>
</html>



