<!DOCTYPE html>
<html lang="fa">
<head>
    <title>سایت خبری برنامه نویس یار|@ViewData["Title"]</title>
    <partial name="_MetaTags" />
    <partial name="_Styles" />
</head>
<body class="inblog-page">
    <header class="header style7">
        <div class="top-bar">
            <div class="container">
                <div class="top-bar-left">
                    <div class="header-message">
                        به فروشگاه آنلاین ما خوش آمدید!
                    </div>
                </div>
                <div class="top-bar-right">
                    <div class="header-language">
                        <div class="LCommerce-language LCommerce-dropdown">
                            <a href="#" class="active language-toggle" data-LCommerce="LCommerce-dropdown">
                                <span>
                                    ایران (تومان)
                                </span>
                            </a>
                            <ul class="LCommerce-submenu">
                                <li class="switcher-option">
                                    <a href="#">
                                        <span>
                                            فرانسه (یورو)
                                        </span>
                                    </a>
                                </li>
                                <li class="switcher-option">
                                    <a href="#">
                                        <span>
                                            انگلیس (دلار)
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="header-user-links">
                        <li>
                            <a href="login.html">ورود یا ثبت نام</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="main-header">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-md-3 col-xs-7 col-ts-12 header-element">
                        <div class="logo">
                            <a href="index.html">
                                <img src="/assets/images/logo.png" alt="img">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-8 col-md-6 col-xs-5 col-ts-12">
                        <div class="block-search-block">
                            <form class="form-search form-search-width-category">
                                <div class="form-content">
                                    <div class="category">
                                        <select title="cate" data-placeholder="تمامی دسته بندی ها" class="chosen-select"
                                                tabindex="1">
                                            <option value="United States">تجهیزات جانبی</option>
                                            <option value="United Kingdom">تلویزیون و فیلم</option>
                                            <option value="Afghanistan">میزها</option>
                                            <option value="Aland Islands">مبل ها</option>
                                            <option value="Albania">اجناس جدید</option>
                                            <option value="Algeria">ذخیره سازی</option>
                                        </select>
                                    </div>
                                    <div class="inner">
                                        <input type="text" class="input" name="s" value="" placeholder="جستجو">
                                    </div>
                                    <button class="btn-search" type="submit">
                                        <span class="icon-search"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-12 col-md-3 col-xs-12 col-ts-12">
                        <div class="header-control">
                            <div class="block-minicart LCommerce-mini-cart block-header LCommerce-dropdown">
                                <a href="javascript:void(0);" class="shopcart-icon" data-LCommerce="LCommerce-dropdown">
                                    Cart
                                    <span class="count">
                                        0
                                    </span>
                                </a>
                                <div class="shopcart-description LCommerce-submenu">
                                    <div class="content-wrap">
                                        <h3 class="title">سبد خرید</h3>
                                        <ul class="minicart-items">
                                            <li class="product-cart mini_cart_item">
                                                <a href="#" class="product-media">
                                                    <img src="/assets/images/item-minicart-1.jpg" alt="img">
                                                </a>
                                                <div class="product-details">
                                                    <h5 class="product-name">
                                                        <a href="#">ساعت هوشمند دوربل</a>
                                                    </h5>
                                                    <div class="variations">
                                                        <span class="attribute_color">
                                                            <a href="#">سیاه</a>
                                                        </span>
                                                        ,
                                                        <span class="attribute_size">
                                                            <a href="#">300میلی متر</a>
                                                        </span>
                                                    </div>
                                                    <span class="product-price">
                                                        <span class="price">
                                                            <span>45000 تومان</span>
                                                        </span>
                                                    </span>
                                                    <span class="product-quantity">
                                                        (x1)
                                                    </span>
                                                    <div class="product-remove">
                                                        <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="product-cart mini_cart_item">
                                                <a href="#" class="product-media">
                                                    <img src="/assets/images/item-minicart-2.jpg" alt="img">
                                                </a>
                                                <div class="product-details">
                                                    <h5 class="product-name">
                                                        <a href="#">هدفون الکتروسلوشن</a>
                                                    </h5>
                                                    <div class="variations">
                                                        <span class="attribute_color">
                                                            <a href="#">سیاه</a>
                                                        </span>
                                                        ,
                                                        <span class="attribute_size">
                                                            <a href="#">300میلی متر</a>
                                                        </span>
                                                    </div>
                                                    <span class="product-price">
                                                        <span class="price">
                                                            <span>45000 تومان</span>
                                                        </span>
                                                    </span>
                                                    <span class="product-quantity">
                                                        (x1)
                                                    </span>
                                                    <div class="product-remove">
                                                        <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="product-cart mini_cart_item">
                                                <a href="#" class="product-media">
                                                    <img src="/assets/images/item-minicart-3.jpg" alt="img">
                                                </a>
                                                <div class="product-details">
                                                    <h5 class="product-name">
                                                        <a href="#">ساعت هوشمندالکتروسلوشن</a>
                                                    </h5>
                                                    <div class="variations">
                                                        <span class="attribute_color">
                                                            <a href="#">سیاه</a>
                                                        </span>
                                                        ,
                                                        <span class="attribute_size">
                                                            <a href="#">300میلی متر</a>
                                                        </span>
                                                    </div>
                                                    <span class="product-price">
                                                        <span class="price">
                                                            <span>45000 تومان</span>
                                                        </span>
                                                    </span>
                                                    <span class="product-quantity">
                                                        (x1)
                                                    </span>
                                                    <div class="product-remove">
                                                        <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="subtotal">
                                            <span class="total-title">جمع کل: </span>
                                            <span class="total-price">
                                                <span class="Price-amount">
                                                    135000 تومان
                                                </span>
                                            </span>
                                        </div>
                                        <div class="actions">
                                            <a class="button button-viewcart" href="shoppingcart.html">
                                                <span>مشاهده سبد خرید</span>
                                            </a>
                                            <a href="checkout.html" class="button button-checkout">
                                                <span>صورتحساب</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-account block-header LCommerce-dropdown">
                                <a href="javascript:void(0);" data-LCommerce="LCommerce-dropdown">
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                </a>
                                <div class="header-account LCommerce-submenu">
                                    <div class="header-user-form-tabs">
                                        <ul class="tab-link">
                                            <li class="active">
                                                <a data-toggle="tab" aria-expanded="true" href="#header-tab-login">ورود</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" aria-expanded="true" href="#header-tab-rigister">ثبت نام</a>
                                            </li>
                                        </ul>
                                        <div class="tab-container">
                                            <div id="header-tab-login" class="tab-panel active">
                                                <form method="post" class="login form-login">
                                                    <p class="form-row form-row-wide">
                                                        <input type="email" placeholder="ایمیل" class="input-text">
                                                    </p>
                                                    <p class="form-row form-row-wide">
                                                        <input type="password" class="input-text" placeholder="رمز عبور">
                                                    </p>
                                                    <p class="form-row">
                                                        <label class="form-checkbox">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span>
                                                                من را به یاد بیاور
                                                            </span>
                                                        </label>
                                                        <input type="submit" class="button" value="ورود">
                                                    </p>
                                                    <p class="lost_password">
                                                        <a href="#">رمز عبور خود را فراموش کرده اید؟</a>
                                                    </p>
                                                </form>
                                            </div>
                                            <div id="header-tab-rigister" class="tab-panel">
                                                <form method="post" class="register form-register">
                                                    <p class="form-row form-row-wide">
                                                        <input type="email" placeholder="ایمیل" class="input-text">
                                                    </p>
                                                    <p class="form-row form-row-wide">
                                                        <input type="password" class="input-text" placeholder="رمز عبور">
                                                    </p>
                                                    <p class="form-row">
                                                        <input type="submit" class="button" value="ثبت نام">
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="menu-bar mobile-navigation menu-toggle" href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--MainMenu-->
        <partial name="_MainMenu" />
        <!--EndMainMenu-->

        <!--Content-->
        @RenderBody();
        <!--EndContent-->

        <!--Footer-->
        <partial name="_Footer" />
        <!--EndFooter-->
        <partial name="_Scripts" />
</body>
</html>
