<!DOCTYPE html>
<html lang="fa">
<head>
    <title>سایت خبری برنامه نویس یار|@ViewData["Title"]</title>
    <partial name="_MetaTags" />
    <partial name="_Styles" />
</head>
<body class="inblog-page">
    <header class="header style7">
        <div class="top-bar">
            <div class="container">
                <div class="top-bar-left">
                    <div class="header-message">
                       به سایت برنامه نویس یار خودش آمدید
                    </div>
                </div>
                <div class="top-bar-right">
                
                    <ul class="header-user-links">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <i><a href="">@User.Identity.Name</a></i>/
                                <a href="/Logout"> خروج</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Login">ورود</a>/
                                <a href="/Register">ثبت نام</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="main-header">
                <div class="row">
                

                    <div class="col-lg-7 col-sm-8 col-md-6 col-xs-5 col-ts-12">
                        <div class="block-search-block">
                            <form action="/Search"  method="get" class="form-search form-search-width-category">
                                <div class="form-content">
                                    <div class="category">
                                        <select title="cate" data-placeholder="تمامی دسته بندی ها" class="chosen-select"
                                                tabindex="1">
                                            <option value="United States">تجهیزات جانبی</option>
                                            <option value="United Kingdom">تلویزیون و فیلم</option>
                                            <option value="Afghanistan">میزها</option>
                                            <option value="Aland Islands">مبل ها</option>
                                            <option value="Albania">اجناس جدید</option>
                                            <option value="Algeria">ذخیره سازی</option>
                                        </select>
                                    </div>
                                        
                                    <div class="inner">
                                       
                                            <input type="text" class="input" name="q" value="" placeholder="جستجو">
                                           
                                    </div>
                                      
                                        <button class="btn-search" type="submit">
                                            <span class="icon-search"></span>
                                        </button>
                                </div>
                            </form>
                        </div>
                    </div>

         
                </div>
            </div>
        </div>
        <!--MainMenu-->
        <partial name="_MainMenu" />
        <!--EndMainMenu-->
        <!--Content-->
        @RenderBody();
        <!--EndContent-->
        <!--Footer-->
        <partial name="_Footer" />
        <!--EndFooter-->
        <partial name="_Scripts" />
        <script src="/assets/js/jquery.validate.min.js"></script>
        <script src="/assets/js/jquery.validate.unobtrusive.js"></script>
        @RenderSection("Scripts", false)
</body>
</html>
