<footer class="footer style7">
    <div class="container">
        <div class="container-wapper">
            <div class="row">
                <div class="box-footer col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="widget-box">
                        <div class="single-img">
                            <a href="index.html"><img src="/assets/images/logo.png" alt="img"></a>
                        </div>
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="#"><span class="flaticon-placeholder"></span>ایران ،سمنان، شاهرود ، فروشگاه لکامرس</a>
                            </li>
                            <li class="menu-item">
                                <a href="#"><span class="flaticon-phone-call"></span>09107195382 - 09107195382 </a>
                            </li>
                            <li class="menu-item">
                                <a href="#"><span class="fa fa-envelope-o"></span>example@gmail.com</a>
                            </li>
                            <li class="menu-item">
                                <a href="#"><span class="flaticon-clock"></span>شنبه تا پنجشنبه از ساعت 0.6:00 تا 23:00</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-6 col-md-6 col-lg-2">
                    <div class="LCommerce-custommenu default">
                        <h2 class="widgettitle">منوی سریع</h2>
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="#">صوتی و تئاتر</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">عکس و فیلم</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">هدفون ها</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">بلندگوهای بی سیم</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">الکترونیک</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-6 col-md-6 col-lg-2">
                    <div class="LCommerce-custommenu default">
                        <h2 class="widgettitle">اطلاعات</h2>
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="#">سؤالات متداول</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">پیگیری سفارش</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">تحویل</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">تماس با ما</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">برگشت دادن</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="LCommerce-newsletter style1">
                        <div class="newsletter-head">
                            <h3 class="title">خبرنامه</h3>
                        </div>
                        <div class="newsletter-form-wrap">
                            <div class="list">
                                از محصولات جدید ، انتشار محدود و سایر موارد مطلع شوید.
                            </div>
                            <input type="email" class="input-text email email-newsletter"
                                   placeholder="ایمیل خود را وارد کنید.">
                            <button class="button btn-submit submit-newsletter">اشتراک</button>
                        </div>
                    </div>
                    <div class="LCommerce-socials">
                        <ul class="socials">
                            <li>
                                <a href="#" class="social-item" target="_blank">
                                    <i class="icon fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="social-item" target="_blank">
                                    <i class="icon fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="social-item" target="_blank">
                                    <i class="icon fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 border-custom">
                    <span></span>
                </div>
            </div>
            <div class="footer-end">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="coppyright">
                            © 1399
                            تمامی حقوق برای،
                            <a href="#">ملیکا خلیلیان</a>
                            محفوظ است.
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="LCommerce-payment">
                            <img src="/assets/images/payments.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a href="index.html">
                <span class="icon">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </span>
                صفحه اصلی
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a href="#">
                <span class="icon">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </span>
                لیست علاقه مندیها
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a href="#">
                <span class="icon">
                    <i class="flaticon-online-shopping-cart" aria-hidden="true"></i>
                    <span class="count-icon">
                        0
                    </span>
                </span>
                <span class="text">سبد خرید</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a href="login.html">
                <span class="icon">
                    <i class="flaticon-profile" aria-hidden="true"></i>
                </span>
                حساب کاربری
            </a>
        </div>
    </div>
</div>
<a href="#" class="backtotop">
    <i class="pe-7s-angle-up"></i>
</a>