<div class="header-nav-container rows-space-20">
    <div class="container">
        <div class="header-nav-wapper main-menu-wapper">
            <div class="vertical-wapper block-nav-categori">
                <div class="block-title">
                    <span class="icon-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <span class="text">تمامی دسته بندی ها</span>
                </div>
                <div class="block-content verticalmenu-content">
                    <ul class="LCommerce-nav-vertical vertical-menu LCommerce-clone-mobile-menu">
                        <li class="menu-item">
                            <a href="#" class="LCommerce-menu-item-title" title="اجناس جدید">اجناس جدید</a>
                        </li>
                        <li class="menu-item">
                            <a title="حراج فوق العاده" href="#" class="LCommerce-menu-item-title">حراج فوق العاده</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a title="تجهیزات جانبی" href="#" class="LCommerce-menu-item-title">تجهیزات جانبی</a>
                            <span class="toggle-submenu"></span>
                            <ul role="menu" class=" submenu">
                                <li class="menu-item">
                                    <a title="ساعت" href="#" class="LCommerce-item-title">ساعت</a>
                                </li>
                                <li class="menu-item">
                                    <a title="تلویزیون و فیلم" href="#" class="LCommerce-item-title">تلویزیون و فیلم</a>
                                </li>
                                <li class="menu-item">
                                    <a title="اجناس جدید" href="#" class="LCommerce-item-title">اجناس جدید</a>
                                </li>
                                <li class="menu-item">
                                    <a title="تجهیزات جانبی" href="#" class="LCommerce-item-title">تجهیزات جانبی</a>
                                </li>
                                <li class="menu-item">
                                    <a title="انبار" href="#" class="LCommerce-item-title">انبار</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a title="تلویزیون و فیلم" href="#" class="LCommerce-menu-item-title">تلویزیون و فیلم</a>
                        </li>
                        <li class="menu-item">
                            <a title="هدفون ها" href="#" class="LCommerce-menu-item-title">هدفون ها</a>
                        </li>
                        <li class="menu-item">
                            <a title="الکترونیک" href="#" class="LCommerce-menu-item-title">الکترونیک</a>
                        </li>
                        <li class="menu-item">
                            <a title="تلفن همراه" href="#" class="LCommerce-menu-item-title">تلفن های همراه</a>
                        </li>
                        <li class="menu-item">
                            <a title="دوربین" href="#" class="LCommerce-menu-item-title">دوربین</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-nav">
                <div class="container-wapper">
                    <ul class="LCommerce-clone-mobile-menu LCommerce-nav main-menu " id="menu-main-menu">
                        <li class="menu-item  menu-item-has-children">
                            <a href="index.html" class="LCommerce-menu-item-title" title="صفحه اصلی">صفحه اصلی</a>
                            <span class="toggle-submenu"></span>
                            <ul class="submenu">
                                <li class="menu-item">
                                    <a href="index.html">صفحه اصلی 1</a>
                                </li>
                                <li class="menu-item">
                                    <a href="home2.html">صفحه اصلی 2</a>
                                </li>
                                <li class="menu-item">
                                    <a href="home3.html">صفحه اصلی 3</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="gridproducts.html" class="LCommerce-menu-item-title" title="فروشگاه">فروشگاه</a>
                            <span class="toggle-submenu"></span>
                            <ul class="submenu">
                                <li class="menu-item">
                                    <a href="gridproducts.html">فروشگاه تمام صفحه</a>
                                </li>
                                <li class="menu-item">
                                    <a href="gridproducts_leftsidebar.html">فروشگاه با ساید بار</a>
                                </li>
                                <li class="menu-item">
                                    <a href="gridproducts_bannerslider.html">فروشگاه با بنر اسلایدر</a>
                                </li>
                                <li class="menu-item">
                                    <a href="listproducts.html">فروشگاه لیستی</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item  menu-item-has-children item-megamenu">
                            <a href="#" class="LCommerce-menu-item-title" title="صفحات">صفحات</a>
                            <span class="toggle-submenu"></span>
                            <div class="submenu mega-menu menu-page">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                        <div class="LCommerce-custommenu default">
                                            <h2 class="widgettitle">صفحات فروشگاه</h2>
                                            <ul class="menu">
                                                <li class="menu-item">
                                                    <a href="shoppingcart.html">سبد خرید</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="checkout.html">صورتحساب</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="contact.html">تماس با ما</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="404page.html">404</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="login.html">ورود/ثبت نام</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                        <div class="LCommerce-custommenu default">
                                            <h2 class="widgettitle">محصول</h2>
                                            <ul class="menu">
                                                <li class="menu-item">
                                                    <a href="productdetails-fullwidth.html">محصول تمام صفحه</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="productdetails-leftsidebar.html">محصول سمت چپ سایدبار</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="productdetails-rightsidebar.html">محصول سمت راست سایدبار</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item  menu-item-has-children">
                            <a href="inblog_right-siderbar.html" class="LCommerce-menu-item-title"
                               title="وبلاگ">وبلاگ</a>
                            <span class="toggle-submenu"></span>
                            <ul class="submenu">
                                <li class="menu-item menu-item-has-children">
                                    <a href="#" class="LCommerce-menu-item-title" title="استایل وبلاگ">استایل وبلاگ</a>
                                    <span class="toggle-submenu"></span>
                                    <ul class="submenu">
                                        <li class="menu-item">
                                            <a href="bloggrid.html">شبکه ای</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="bloglist.html">لیستی</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="#" class="LCommerce-menu-item-title" title="طرح نوشته ها">طرح نوشته ها</a>
                                    <span class="toggle-submenu"></span>
                                    <ul class="submenu">
                                        <li class="menu-item">
                                            <a href="inblog_left-siderbar.html">سایدبار چپ</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="inblog_right-siderbar.html">سایدبار راست</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="about.html" class="LCommerce-menu-item-title" title="درباره ما">درباره ما</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

    </header>
<div class="header-device-mobile">
    <div class="wapper">
        <div class="item mobile-logo">
            <div class="logo">
                <a href="#">
                    <img src="/assets/images/logo.png" alt="img">
                </a>
            </div>
        </div>
        <div class="item item mobile-search-box has-sub">
            <a href="#">
                <span class="icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </a>
            <div class="block-sub">
                <a href="#" class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <div class="header-searchform-box">
                    <form class="header-searchform">
                        <div class="searchform-wrap">
                            <input type="text" class="search-input" placeholder="کلمات کلیدی را برای جستجو وارد کنید ...">
                            <input type="submit" class="submit button" value="جستجو">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="item mobile-settings-box has-sub">
            <a href="#">
                <span class="icon">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </span>
            </a>
            <div class="block-sub">
                <a href="#" class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <div class="block-sub-item">
                    <h5 class="block-item-title">واحد پول</h5>
                    <form class="currency-form LCommerce-language">
                        <ul class="LCommerce-language-wrap">
                            <li class="active">
                                <a href="#">
                                    <span>
                                        ایران (تومان)
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>
                                        فرانسه (یورو)
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>
                                        انگلیس (دلار)
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="item menu-bar">
            <a class=" mobile-navigation  menu-toggle" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</div>